/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/data/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!app/data/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/nbproject/private/

*~
