{% extends "AcmeSimpleCMSBundle::base.html.twig" %}

{% block content %}
{% raw %}
    
    <div ng-app="sonataAngular">
        <div ng-controller="listCtrl">
            
        </div>
    </div>

{% endraw %}
{% endblock %}
